.card {
    background-color: rgb(248, 241, 232);
}

.container {
    width: 90%;
    margin-left: 2rem;
}

.conteudo {
    width: 100%;
}

mat-card,
mat-card-subtitle {
    color: blue;
}

mat-card {
    margin-top: .8rem;
}

.badge button {
    margin-top: .1rem;
    margin-bottom: 0.1px;
    display: flex;
    justify-content: end;
}