<section class="page-footer">
  <div>
    <img class="img-footer" src="/assets/imagens/logo-header.png" alt="header logo" />
  </div>

  <footer>
    <div>
      <p>contato@gmail.com</p>
      <p>(11) 4002-8922 </p>
      <p>CNPJ 00.000.000/0000-00</p>
    </div>

    <a routerLink="/contato">
      <p>Informações</p>
    </a>
    <a routerLink="/privacidade">
      <p>Política de Privacidade</p>
    </a>
    <a routerLink="/termos_de_uso">
      <p>Termos de Uso</p>
    </a>
  </footer>
</section>
