.page-header {
  display: flex;
  justify-content: space-around;
  background-color: #D9D9D9;
}

.page-header div {
  padding: 30px 30px 30px 30px;
}

.img-header {
  width: 113px;
  height: 15.5px;
}

.componentes {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.componentes a {
  text-decoration: none;
  text-transform: capitalize;
  color: #979797;
  font-weight: bold;
  font-style: italic;
  transition: color 0.3s ease;
}

.componentes a:hover {
  color: #000;
}

.sair-button{
  display: flex;
  align-items: center;
  width: 113px;
}

.sair-button a{
  text-decoration: none;
  text-transform: capitalize;
  color: #979797;
  font-weight: bold;
  font-style: italic;
  transition: color 0.3s ease;
}

.sair-button a:hover {
  cursor: pointer;
  color: #000;
}
