<section class="page-footer">
  <div>
    <img class="img-footer" src="/assets/imagens/logo-inicial.png" alt="header logo" />
  </div>

  <footer>
    <div>
      <p>contato@gmail.com</p>
      <p>(11) 4002-8922 </p>
      <p>CNPJ 00.000.000/0000-00</p>
    </div>

    <div class="content-sobre">
      <p (click)="entrarSobre()" class="content-sobre-link">Sobre</p>
      <p (click)="entrarPolitica()" class="content-sobre-link">Política de Privacidade</p>
      <p (click)="entrarTermos()" class="content-sobre-link">Termos de Uso</p>
    </div>
  </footer>
</section>
