<app-header></app-header>
<div class="content">
  <section class="container-imovel">
    <div>
      <label for="nomeCliente">Nome Cliente:</label>
      <input type="text" id="nomeCliente" name="nomeCliente" [(ngModel)]="nome"><br><br>

      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" name="cpf" mask="000.000.000-00" [(ngModel)]="cpf"><br><br>

      <label for="tipoPagamento">Forma de Pagamento</label>
      <input list="tipoPagamento" [(ngModel)]="selectedTipo" (input)="handleInput($event)">
      <datalist id="tipoPagamento">
        <option *ngFor="let tipo of tiposPagamentos" [value]="tipo"></option>
      </datalist><br><br>

      <div class="linha-info">
        <p>{{nome}}</p>
        <p>{{estado}}</p>
        <p>Endereço: {{endereco}}, {{numero}}</p>
        <p>CEP: {{cep}}</p>
        <p>Tipo: {{tipo}}</p>
      </div>
      <div class="info-valor">
        <div class="content-valor">
          <p class="linha-valor">R$ {{ valor | number:'1.2-2' }}</p>
        </div>
      </div>
      <div class="btn-enviar">
        <button (click)="atualizarAluguel()">Atualizar</button>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
