.content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}
.titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px;
  width: 100%;
}
.titulo>div{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.componentes{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h1{
  margin: 0;
  color: #979797;
  font-weight: bold;
  font-style: italic;
}
.tabela-itens{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
button{
  width: 100%;
  max-width: 200px;
  background-color: #ABABAB;
  border: 0px;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  margin-top: 20px;
  transition: color 0.3s ease;
}

