.linha-imovel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  background-color: #979797;
  width: 100%;
  align-items: center;
  border-radius: 20px;
}

.linha-imovel>div{
  width: 30%;
  justify-content: center;
}

p, span{
  margin: 10;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.linha-imovel img{
  width: 20px;
}

.linha-info{
  text-align: start;
  padding: 10px;
}

.linha-disponivel{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.linha-nome{
  text-align: center;
}

.linha-button{
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  width: 100%;
  max-width: 200px;
  background-color: #ABABAB;
  border: 0px;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  margin-top: 20px;
  transition: color 0.3s ease;
}
