<app-header></app-header>
<div class="sobre">
  <h2>A História da Ftrxs</h2>
  <p>Bem-vindo ao <a href="localhost:4200/" style="background-color: transparent; color:#73aaf8;">Ftrxs</a>, a loja de imóveis que transforma sonhos em realidade. Nossa jornada começou em uma pequena cidade, onde um grupo de amigos decidiu criar um espaço onde cada cliente pudesse encontrar o lar perfeito.</p>

  <h2>1. O Início Humilde</h2>
  <p>Em 2010, a Ftrxs abriu suas portas pela primeira vez. Começamos com apenas um pequeno escritório e uma equipe dedicada de cinco pessoas. Nossa paixão era ajudar as pessoas a encontrarem não apenas uma casa, mas um lugar onde pudessem construir suas vidas e criar memórias.</p>

  <h2>2. Crescimento e Expansão</h2>
  <p>À medida que nossa reputação crescia, também crescia nossa equipe e nosso portfólio de propriedades. De apartamentos modernos a casas de campo charmosas, a Ftrxs rapidamente se tornou a escolha preferida para quem procurava imóveis de qualidade e um serviço excepcional.</p>

  <h2>3. Inovação Constante</h2>
  <p>Com o avanço da tecnologia, a Ftrxs adotou as últimas inovações para melhorar a experiência do cliente. Implementamos tours virtuais, ferramentas de busca avançadas e um atendimento ao cliente 24/7 para garantir que nossos clientes pudessem encontrar e visualizar propriedades de qualquer lugar e a qualquer hora.</p>

  <h2>4. Compromisso com a Comunidade</h2>
  <p>Na Ftrxs, acreditamos que nosso sucesso está diretamente ligado ao bem-estar das comunidades onde operamos. Participamos de vários projetos comunitários, apoiando iniciativas locais e promovendo o desenvolvimento sustentável em todas as áreas onde temos presença.</p>

  <h2>5. O Futuro da Ftrxs</h2>
  <p>Olhando para o futuro, estamos empenhados em continuar crescendo e inovando. Nosso objetivo é ser mais do que apenas uma loja de imóveis; queremos ser um parceiro confiável em cada etapa da jornada de nossos clientes, oferecendo suporte e orientação para ajudar a transformar sonhos em realidade.</p>

  <h3>Por Que Escolher a Ftrxs?</h3>
  <p>Com uma década de experiência, uma equipe dedicada e uma abordagem centrada no cliente, a Ftrxs é a escolha ideal para quem procura um imóvel. Nossa missão é simples: ajudar você a encontrar o lar perfeito.</p>

  <h3>Contato</h3>
  <p>Se você tiver alguma dúvida ou precisar de assistência, entre em contato conosco. Estamos sempre prontos para ajudar você a encontrar a propriedade dos seus sonhos.</p>
</div>
<app-footer></app-footer>
