<div class="linha-aluguel">
  <div class="linha-img">
    <img src="../../../assets/imagens/user.png" alt="Aluguel">
  </div>
  <div class="linha-nome">
    <span>{{ nome }}</span>
  </div>
  <div class="linha-info">
    <p>Id: {{id}}</p>
    <p>Nome do Cliente: {{nomeCliente}}</p>
    <p>Tipo: {{tipo}}</p>
    <p>Valor: {{valor}}</p>
    <p>CPF: {{cpf}}</p>
    <p>Forma de Pagamento: {{formaPagamento}}</p>
    <p>Id Imovel: {{idImovel}}</p>
    <p>Nome Imovel: {{nomeImovel}}</p>
  </div>
</div>
