<div class="linha-aluguel">
  <div class="linha-img">
    <img src="../../../assets/imagens/perfil.png" alt="Aluguel">
  </div>
  <div class="linha-nome">
    <span>{{ nomeImovel }}</span>
    <p>Id Imovel: {{idImovel}}</p>
  </div>
  <div class="linha-info">
    <p>Id: {{id}}</p>
    <p>Inquilino: {{nomeCliente}}</p>
    <p>CPF: {{cpf}}</p>
    <p class="linha-valor">Valor: R$ {{ valor | number:'1.2-2' }}</p>
  </div>
  <div class="linha-button">
    <div class="linha-button-icon">
      <img class="IconButton" src="../../../assets/imagens/deletar.png" alt="Deletar">
      <img class="IconButton" src="../../../assets/imagens/atualizar.png" alt="Alterar">
    </div>
    <div>
      <button>Ver imovel</button>
    </div>
  </div>

</div>
